<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite  name="MySuite">
    <listeners>
        <listener class-name="TestComponents.Listners"></listener>
    </listeners>
    <test thread-count="1" name="Submit Order Test">
        <classes>
            <class name="com.example.SubmitOrderTest"/>
        </classes>
    </test>
    <test thread-count="1" name="Error Validation Test">
        <classes>
            <class name="com.example.ErrorValidation"/>
        </classes>
    </test>
</suite>
